.configSection {
    margin-bottom: 20px;
}
.toggleHeader {
    text-align: center;
}
.configSection input:not([type='radio']), select {
    width: 100%;
}
.toggleHeader > input[type='button'] {
    width: 150px;
}
.configSection table {
    margin-top: 10px;
}
.configSection table tr:first-child {
    text-align: center;
}
.configSection table td[colspan='2'] {
    font-size: 1.2em;
    font-weight: bold;
}
.configSection table td[colspan='2'] a{
    font-size: 0.8em;
    position: absolute;
    right: 18px;
}

.bitrate {
    padding: 5px;
    min-width: 80px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 5px 5px;
    background-color: #31b0d5;
}

.wrap {
    margin-top: 50px;
}

#response {
    color: red;
    font-size: 14pt;
}

#ApiKeyError {
    color: red;
    font-size: 14pt;
    text-align: center;
}

#bUpload1 {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #31b0d5;
}

#AddSchedule {
    border: 1px solid #31b0d5;
}

#bEncode {
    border: 1px solid #31b0d5;
}

#bUpload {
    width: 45%;
}
#custom .intend1 {
    margin-left: 30px;
}
#custom textarea {
    font-weight: normal;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    height: 100px;
    width: 100%;
}
#custom .hint {
    font-size: 1em;
    text-align: center;
}

/* Tooltip text */
.tooltiptext {
    width: 530px;
    padding: 10px;
    margin-top: 20px;
    color: whitesmoke;
    margin-left: -40px;
    visibility: hidden;
    position: absolute;
    background-color: grey;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px black;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    display: block;
    position: absolute;
    visibility: visible;

}